:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-dark-gray: hsl(0, 0%, 55%);
    --color-very-dark-gray: hsl(0, 0%, 41%);
}

* {
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-size: 15px;
}